#elec1 {
    color: rgb(255, 0, 0); /* 赤 */
}

#elec2 {
    color: rgb(255, 102, 0); /* オレンジ色っぽい色 */
}

#elec3 {
    color: rgb(128, 0, 128); /* 真ん中の色（パープル/マゼンタ） */
}

#elec4 {
    color: rgb(85, 0, 255); /* 青に近い紫色 */
}

#elec5 {
    color: rgb(0, 0, 255); /* 青 */
}

.item{
    padding: 10px; margin-bottom: 10px; border: 3px solid #333333;
}


